<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.android.uamp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
            android:label="@string/app_name"
            android:theme="@style/Theme.Leanback"
            android:allowBackup="false">

        <activity android:name="MainActivity"
            android:logo="@drawable/app_icon_quantum"
            android:screenOrientation="landscape"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="PlayerActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity android:name="DetailsActivity" />

    </application>

</manifest>
