<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2019 Google LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.uamp.automotive">

    <!--
    Since this module contains code exclusive to Android Automotive, require the feature here.

    If you were mixing projected and automotive code, then the feature should not be marked
    as required.
    -->
    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />

    <uses-sdk tools:overrideLibrary="androidx.car" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_LOGIN" />
            </intent-filter>
        </activity>

        <!-- Car compatible theme must use minSDK24 -->
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme.Drawer"
            android:label="@string/settings_label">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>

        <!--
        Declare the MediaBrowserService which supports Android Automotive specific
        extensions.
        -->
        <service
            android:name=".AutomotiveMusicService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">

            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>
</manifest>
